body{
  width: 100%;
}

.menu-icon{
  width: 30px;
}

.home{
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.background-img{
  left: 50%;
  top: -8%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.home-text{
  width: 45%;
  padding: 5%;
}

.features{
  margin: 1.5% 8%;
  text-align: center;
}

.features-header{
  padding: 2%;
}

.features-data{
  font-size: 3rem;
  padding: 10% 0;
}

.features-text{
  font-size: 1.5rem;
  font-weight: 600;
}

.define{
  background-color: #264653;
  height: 650px;
  position: relative;
  bottom: 200px;
  z-index: -2;
  padding-top: 250px;
  color: white;
  vertical-align: middle;
}

.vr{
  position: relative;
  bottom: 100px;
  width: 2px;
  height: 150%;
}

.define-text{
  position: relative;
  right: 10%;
  top: 120px;
  font-size: 3rem;
}

.define-list{
  position: relative;
  right: 10%;
  color: white;
  font-size: 1.5rem;
}

.contact{
  position: relative;;
}

.contact .hero-image {
  background-image: url("contact-background2.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 200px;
}

.contact .hero-text {
  text-align: center;
  position: absolute;
  width: 40%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.contact-form{
  background-color: rgb(38, 70, 83, 0.7);
}

.form-element{
  padding: 5px 0;
}

.form-element label{
  color: white;
  font-size: 1rem;
}

.form-submit{
  margin: 20px auto 0 auto;
  width: 100px;
}

.testimonials{
  position: relative;
  padding: 7% 10%;
  bottom: 200px;
}

.testimonials-head{
  text-align: center;
  margin-bottom: 50px;
}

.testimonials .middle{
  text-align: right;
}

.review{
  display: inline-block;
  width: 65%;
  padding: 5px;
  border-radius: 20px;
  background-color: #264653;
  color: white;
  font-size: 1.2em;
  line-height: 2;
}