/* Universal */
body, html {
  height: 100%;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(5,20,36);
}

.row{
  width: 100%;
}

hr{
  margin: 0;
  width: 1;
  background-color: rgb(255,255,255,0.5);
  width: 84%;
  transform: translate(8%, 0%);
}

.col-lg-6, .col-lg-9 .col-lg-5{
  padding: 0;
}

.color-white{
  background-color: white;
}

.color-theme{
  background-color: rgb(5,20,36);
}

.hero-image {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; 
}


/* Navbar */
.navbar-nav, .mr-auto {
  flex: 1;
}

.navbar{
  padding: 2% 7%;
}

.nav-item{
  font-size: 1.05rem;
  font-weight: 500;
  padding: 0px 20px;
}

.nav-link{
  color: black;
}

.nav-link:hover{
  text-decoration: underline;
}

.navbar .btn{
  color:black;
  border-radius: 0;
  border-width: 3px;
  height: 45px;
  font-weight: 500;
}

.navbar .btn:hover {
  background-color: white;
  color: inherit;
  text-decoration: none;
}

/* Head */
.head-background{
  background-image: url("../images/head-pattern.png");
  background-color: #fff;
  background-position-y: 14%;
  background-position-x: 14px;
  height: 450px;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 38%; 
  transform: translate(-50%, -50%);
  color: black;
  width: 60%;
}

.head-text{
  font-size: 140%;
}

@media screen and (min-width: 1024px){
  .heading{
    font-size: 450%;
    line-height: 1.5;
    font-family: 'Outfit', sans-serif;
  }
}

@media screen and (max-width: 1024px){
  .heading{
    font-size: 350%;
    line-height: 1.5;
    font-family: 'Outfit', sans-serif;
  }
}

/* About us */
.about-us{
  position: relative;
  background-color: rgb(5,20,36);
  width: 100%;
}

.about-us-image-container {
  overflow:hidden;
  height: 480px;
  max-width: 1110px;
  display:block;
}

.get-in-touch{
  position: absolute;
  border-width: 4px;
  border-color: rgb(5,20,36) ;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  left: 35px;
  top:-75px;
  font-size: 25px;
  transition: transform .2s;
}

.background-pulse {
  animation: pulseBackground 1.5s infinite;
  z-index: 1;
}

@keyframes pulseBackground {
  0% {
    box-shadow: 0 0 0 0 rgba(96, 145, 197, 0.5);
  }
  50% {
    box-shadow: 0 0 0 30px rgba(5, 20, 36, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(5, 20, 36, 0);
  }
}

/* Apply the pulse animation on the button on hover */
.get-in-touch:hover {
  animation: none; 
  box-shadow: 0 0 20px rgba(5, 20, 36, 0.7); 
}


.vl {
  width: 1.5px;
  background-image: linear-gradient(180deg, rgb(255,255,255,0), rgb(255,255,255,1));
  height: 300px;
  position: absolute; 
  transform: translate(-50%, 0%);
  left: 50%;
  top: 120px;
}

.arrow-down{
  position: absolute;
  width: 150px;
  top: 450px;
  left: 35px;
  text-align: center;
  color: white;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-5px); /* Initial and final position */
  }
  50% {
    transform: translateY(10px); /* Bounce up by 20px */
  }
}

.arrow-down img {
  animation: bounce 1s infinite; /* Adjust the duration as needed */
}

@media screen and (min-width: 1024px) {
  .about-us-slide{
    height: 100%;
    width: 220px;
    position: absolute;
    top: -10%;
    left: 1110px;
  }
}

@media screen and (max-width: 1024px) {
  .about-us-image{
    width: 100%;
    height: 100%;
  }

  .about-us-slide{
    height: 100%;
    width: 220px;
    position: absolute;
    top: -5%;
    right: 0;
  }
}

.about-us-row{
  padding: 7% 6% 0 7%;       
  color: white;
}

.about-us-background{
  width: 110%;
}

.card-text{
  font-size: 1.2rem;
  color: rgb(255,255,255,0.8);
}

.get-in-touch-2{
  /* display: block; */
  margin: 25px 0;
  height: 60px;
  width: 190px;
  border-radius: 0;
  font-size: 1.2rem;
  position: relative;
  transition: all .35s;
}

.get-in-touch-2 span{
  position: relative;
  z-index: 2;
}

.get-in-touch-2:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #fff;
  transition: all .35s;
}

.get-in-touch-2:hover{
  color: black;
}

.get-in-touch-2:hover:after{
  width: 100%;
}

/* Offer */
.offer-text{
  padding: 0% 6% 0 7%;
}

@media screen and (min-width: 1024px) { 
  #offer{
    position: relative;
    padding: 0;
    padding: 7% 0%; 
    color: white;
  }

  .offer-side-pattern{ 
    width: 350px;
    position: absolute;
    top:20%
  } 

  .offer-card{
    padding: 10% 10% 10% 5%;
  }
}

@media screen and (max-width: 1024px) { 
  #offer{
    padding: 7% 6% 0 7%; 
    color: white;
  }

  .offer-side-pattern{ 
    display: none;
  }
  
  .offer-card{
    padding: 5% 10%;
  }
}

.offer-icon{
  padding-bottom: 20px;
}

/* Figures */
.figures{
  background-color: #f3f5f7;
  text-align: center;
  padding: 7% 7% 5%;
}

.figures-head{
  font-size: 3rem;
  color: rgb(5,20,36);
  padding-bottom: 7%;
} 

.figures-card{
  padding: 30px 15px;
  margin: 15px;
  border-width: 7px 0 0 0;
  border-color: rgb(5,20,36);
  color: rgb(5,20,36);
  text-align: left;
}

.figures-numbers{
  font-size: 3.5rem;
  font-weight: 600;
}

.figures-unit{
  font-size: 1.5rem;
}

.figures-text{
  font-size: 1.2rem;
}

/* Why DiGinLeads */
.benefits{
  padding: 7% 7% 2%;
  color: white;
  border: none;
}

.why-diginleads-background{
  width: 100%;
  padding-top: 100px;
}

.accordion{
  padding: 20px 0 0 30px;
}

.accordion hr{
  width: 100%;
  transform: translate(0%, 0%);
  margin: 20px 0;
}

.accordion-button{
  background-color: rgb(5,20,36);
  color: white;
}

.accordion-button::after {
  content: none;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

/* Add a custom background image to the collapsed accordion button */
.accordion-item .accordion-button:not(.collapsed) {
  background-image: url('../images/substract-icon.svg');
  background-repeat: no-repeat;
  background-position: right center; 
  padding-right: 30px; 
}

/* Add a custom background image to the expanded accordion button */
.accordion-item .accordion-button.collapsed {
  background-image: url('../images/add-icon.svg');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px; 
}

.accordion-item .accordion-button:not(.collapsed) {
  background-color: rgb(5,20,36);
  color: white;
}

.accordion-header{
  font-size: 1.7rem;
  font-weight: 600;
}

.benefits-hr{
  width: 90%;
  margin: 5% 0;
}

/* Testimonials */
.testimonials{
  background-color: rgb(5,20,36);
  text-align: center;
  color: white;
  position: relative;
  padding-bottom: 2%;
}

.carousel-container {
  display: flex;
  justify-content: center;
  margin: 5% 7%;
  position: relative;
}

.carousel{
  width: 85%;
}

.testimonial-images{
  height: 110px;
  width: 110px;
  border-radius: 100%;
  margin-top: 10px;
}

.testimonial-text{
  text-align: left;
}

.testimonial-name{
  font-size: 1.3rem;
}

.carousel-button{
  position: absolute;
  width: 100px;
  height: 40px;
  bottom: 6%;
  right: 10%;
}

.carousel-button-left, .carousel-button-right{
  height: 40px;
  width: 40px;
  padding: 20px;
}

/* contact-us */
.contact-background {
  background-image: linear-gradient(rgba(5, 20, 36, 0.6), rgba(5, 20, 36, 0.6)), url("../images/contact-us-background\ \(2\).jpg");
  height: 65rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-text{
  padding: 7%;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 60rem;
  transform: translate(0%, 0%);
  color: white;
}

.contact-form{
  background-color: white;
  color: black;
  text-align: center;
  margin: 7%;
  font-weight: 600;
  padding: 5%;
}

.form-head{
  margin-bottom: 40px;
  font-size: 150%;
}

.contact-form-inner{
  text-align: left;
}

.input-box{
  margin: 5px 0 30px 0;
  border-radius: 0;
  height: 50px;
}

.submit-btn{
  margin-top: 20px;
  border-radius: 0;
  height: 50px;
  width: 150px;
  font-size: 1.2rem;
}

/* Footer */
.footer{
  padding: 3% 5%;
}

.footer .card-text{
  font-size: 1rem;
}

.social-media-icon{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: rgb(255,255,255,0.1);
  text-align: center;
  margin-right: 20px;
}

/* Fixed image */
.fixed-image {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: auto;
}
