/* Universal */
body, html {
  height: 100%;
  letter-spacing: 1px;
}

.row{
  width: 100%;
}

hr{
  margin: 0;
  width: 1;
  background-color: rgb(255,255,255,0.5);
  width: 84%;
  transform: translate(8%, 0%);
}

.col-lg-6, .col-lg-9 .col-lg-5{
  padding: 0;
}

.color-white{
  background-color: white;
}

.color-theme{
  background-color: rgb(5,20,36);
}

.hero-image {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; 
}


/* Navbar */
.navbar-nav, .mr-auto {
  flex: 1;
}

.navbar{
  padding: 20px 50px;
}

.nav-item{
  padding: 0px 20px;
}

.nav-link{
  color: black;
}


/* Head */
.head-background{
  background-image: url("../images/head-pattern.png");
  background-position-y: 14%;
  background-position-x: 14px;
  height: 450px;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 34.5%;
  transform: translate(-50%, -50%);
  color: black;
  width: 60%;
}

.head-text{
  font-size: 1.5rem;
}

.heading{
  font-size: 4rem;
  line-height: 1.5;
}

/* About us */
.about-us{
  position: relative;
  background-color: rgb(5,20,36);
  width: 100%;
}

.about-us-image-container {
  overflow:hidden;
  height: 480px;
  max-width: 1110px;
  display:block;
}

.get-in-touch{
  position: absolute;
  border-width: 4px;
  border-color: rgb(5,20,36);
  border-radius: 100%;
  height: 150px;
  width: 150px;
  left: 35px;
  top:-75px;
  font-size: 25px;
}

.vl {
  width: 1.5px;
  background-image: linear-gradient(180deg, rgb(255,255,255,0), rgb(255,255,255,1));
  height: 300px;
  position: absolute; 
  transform: translate(-50%, 0%);
  left: 50%;
  top: 120px;
}

.arrow-down{
  position: absolute;
  width: 150px;
  top: 450px;
  left: 35px;
  text-align: center;
  color: white;
}

@media screen and (min-width: 1200px) {
  .about-us-slide{
    height: 100%;
    width: 220px;
    position: absolute;
    top: -10%;
    left: 1110px;
  }
}

@media screen and (max-width: 1200px) {
  .about-us-image{
    width: 100%;
    height: 100%;
  }

  .about-us-slide{
    height: 100%;
    width: 220px;
    position: absolute;
    top: -10%;
    right: 0;
  }
}

.about-us-row{
  padding: 7% 6% 0 7%;       
  color: white;
}

.about-us-background{
  width: 110%;
}

.card-text{
  font-size: 1.2rem;
  color: rgb(255,255,255,0.8);
}

.get-in-touch-2{
  margin: 25px 0;
  height: 60px;
  width: 190px;
  border-radius: 0;
  font-size: 1.2rem;
}

/* Offer */
.offer-text{
  padding: 0% 6% 0 7%;
}

@media screen and (min-width: 1000px) { 
  .offer{
    position: relative;
    padding: 0;
    padding: 7% 0%; 
    color: white;
  }

  .offer-side-pattern{ 
    width: 350px;
    position: absolute;
    top:20%
  } 

  .offer-card{
    padding: 10% 10% 10% 5%;
  }
}

@media screen and (max-width: 1000px) { 
  .offer{
    padding: 7% 6% 0 7%; 
    color: white;
  }

  .offer-side-pattern{ 
    display: none;
  }
  
  .offer-card{
    padding: 5% 10%;
  }
}

.offer-icon{
  padding-bottom: 20px;
}

/* Figures */
.figures{
  background-color: #f3f5f7;
  text-align: center;
  padding: 7% 7% 5%;
}

.figures-head{
  font-size: 3rem;
  color: rgb(5,20,36);
  padding-bottom: 7%;
} 

.figures-card{
  padding: 30px 15px;
  margin: 15px;
  border-width: 7px 0 0 0;
  border-color: rgb(5,20,36);
  color: rgb(5,20,36);
  text-align: left;
}

.figures-numbers{
  font-size: 3.5rem;
  font-weight: 600;
}

.figures-unit{
  font-size: 1.5rem;
}

.figures-text{
  font-size: 1.2rem;
}

/* Why DiGinLeads */
.benefits{
  padding: 7% 7% 2%;
  color: white;
  border: none;
}

.why-diginleads-background{
  width: 100%;
  padding-top: 100px;
}

.accordion{
  padding: 20px 0 0 30px;
}

.accordion hr{
  width: 100%;
  transform: translate(0%, 0%);
  margin: 20px 0;
}

.accordion-button{
  background-color: rgb(5,20,36);
  color: white;
}

.accordion-button::after {
  content: none;
}

/* Add a custom background image to the collapsed accordion button */
.accordion-item .accordion-button:not(.collapsed) {
  background-image: url('../images/substract-icon.svg');
  background-repeat: no-repeat;
  background-position: right center; 
  padding-right: 30px; 
}

/* Add a custom background image to the expanded accordion button */
.accordion-item .accordion-button.collapsed {
  background-image: url('../images/add-icon.svg');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px; 
}

.accordion-item .accordion-button:not(.collapsed) {
  background-color: rgb(5,20,36);
  color: white;
}

.accordion-header{
  font-size: 1.7rem;
  font-weight: 600;
}

.benefits-hr{
  width: 90%;
  margin: 5% 0;
}

/* Testimonials */
.testimonials{
  background-color: rgb(5,20,36);
  text-align: center;
  color: white;
  position: relative;
  padding-bottom: 2%;
}

.carousel-container {
  display: flex;
  justify-content: center;
  margin: 5% 7%;
  position: relative;
}

.carousel{
  width: 85%;
}

.testimonial-images{
  height: 110px;
  width: 110px;
  border-radius: 100%;
  margin-top: 10px;
}

.testimonial-text{
  text-align: left;
}

.testimonial-name{
  font-size: 1.3rem;
}

.carousel-button{
  position: absolute;
  width: 100px;
  height: 40px;
  bottom: 6%;
  right: 10%;
}

.carousel-button-left, .carousel-button-right{
  height: 40px;
  width: 40px;
  padding: 20px;
}

/* contact-us */
.contact-background {
  background-image: linear-gradient(rgba(5, 20, 36, 0.6), rgba(5, 20, 36, 0.6)), url("../images/contact-us-background\ \(2\).jpg");
  height: 70rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-text{
  padding: 7%;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 60rem;
  transform: translate(0%, 0%);
  color: white;
}

.calendly-inline-widget{
  width:100%;
  height:55rem;
}

/* Footer */
.footer{
  padding: 3% 5%;
}

.footer .card-text{
  font-size: 1rem;
}

.social-media-icon{
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: rgb(255,255,255,0.1);
  text-align: center;
  margin-right: 20px;
}