
@media (min-width: 991px) and (max-width:1600px)
{
  .navbar{
    width: 100%;
    padding: 1.75rem 5.75rem 0rem 5.75rem;
  }

  .navbar-brand img{
    width: 10rem;
    height: 2rem;
    object-fit: contain;
  }

  .navbar-toggler img{
    width: 1.25rem;
    height: 1rem;
  }

  /* Heading */
  .head-background{
    padding: 9rem 6.25rem 0rem 6.25rem;
    background-position-y: -3.5rem;
    background-position-x: 0rem;
    background-size: 100%;
    width: 100%;
  }

  .head-text p{
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }

  @media(max-width:1150px)
  {
    .head-text h1{
      font-size: 4rem;
      line-height: 5.5rem;
      padding-bottom: 4rem;
      width: 100%;
    }
  }

  @media(min-width:1150px) and (max-width:1300px)
  {
    .head-text h1{
      font-size: 4.375rem;
      line-height: 6rem;
      padding-bottom: 4rem;
      width: 80%;
    }
  }

  @media(min-width:1300px)
  {
    .head-text h1{
      font-size: 5rem;
      line-height: 6rem;
      padding-bottom: 4rem;
      width: 80%;
    }
  }

  .about-us-image{
    width: 80%;
  }
  
  .about-us-slide{
    height: 135%;
    width: 15%;
    top: -3.5rem;
    right: 12%;
  }

  .get-in-touch{
    height: 19%;
    width: 70%;
    left: 15%;
    top: -10%;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .vl{
    height: 40%;
    top: 20%;
  }

  .arrow-down{
    top: 65%;
  }

  .explore-more{
    font-size: 1.125rem; 
  }

  .scroll-d{
    font-size: 1rem;
  }

  #about-us-details{
    padding: 3rem 4.25rem;
  }

  .about-us-card{
    padding: 2rem;
  }

  .card-title{
    font-size: 2.5rem;
  }

  .card-text{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  
  /* .about-us-background{
    margin-top: 3rem;
    margin-bottom: 3rem;
  } */

  hr{
    height: 0.0625rem;
    width: 75%;
  }

  /* Offer */
  #offer{
    padding: 2rem 6.25rem 5rem;
    position: relative;
  }

  .offer-card{
    padding: 1.5rem;
  }

  .offer-side-pattern{
    display:inline;
    position: absolute;
    left: 0;
    top: 5%;
  }

  .offer-icon{
    height: 2.25rem;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
  }

  /* Figures */
  .figures{
    padding: 5rem 5.25rem 3.5rem;
  }

  .figures-head{
    width: 100%;
    font-size: 2.5rem;
  }

  .figures-card{
    height: 18.75rem;
    margin: 1rem;
    padding: 1.5rem;
  }

  .figures-icon{
    width: 3.375rem;
    height: 3.375rem;
    margin: 0.88rem 0rem 1rem 0rem;
  }

  .figures-numbers{
    font-size: 3.375rem;
    font-weight: 700;
  }

  .figures-text{
    width: 100%;
    font-size: 1.125rem;
    letter-spacing: 0.03125rem;
  }

  /* Why DiGINLeads */
  .benefits{
    padding: 5rem 4.25rem;
  }
  
  .why-diginleads-background{
    width: 100%;
    margin: 2.4rem 0rem ;
  }

  .why-digin-card{
    padding: 2rem;
  }
  
  .accordion-button{
    padding: 1.5rem 0rem;
    font-size: 1.375rem;
  }
  
  .accordion-head{
    line-height: 1.625rem;
    opacity: 1;
    font-weight: 600;
  }

  .accordion-body{
    padding-bottom: 1.5rem;
  }

  .get-in-touch-2{
    margin: 2.25rem 0rem;
    width: 12rem;
    height: 3.75rem;
    font-size: 1.25rem;
  }

  /* Testimonials */
  .testimonials{
    padding: 0rem 6.25rem 6.25rem;
  }

  .testimonial-images{
    display: inline-block;
    width: 8.5rem;
    height: 8.5rem;
  }

  .carousel{
    margin-top: 2.5rem;
    font-size: 1.25rem;
  }

  .testimonial-text .card-text{
    height: 7rem;
    margin-left: 2rem;
  }

  .testimonial-name{
    margin-left: 2rem;
  }

  .carousel-button{
    width: 6rem;
    height: 2rem;
    bottom: -0.5rem;
    right: 1.25rem;
  }
  
  .carousel-button-left img, .carousel-button-right img{
    height: 3rem;
    width: 3rem;
  }

  /* Contact-us */
  .contact-background{
    height: 55rem;
  }

  .contact-text{
    padding: 5rem 6.25rem;
  }

  .contact-text .card-title{
    line-height: 2.375rem;
  }

  .contact-form{
    width: 80%;
    padding: 3rem;
    margin-top: 2rem;
  }

  .form-head{
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .contact-form-inner input{
    margin-bottom: 2rem;
    height: 3rem;
    font-size: 1.125rem;
  }

  .contact-form-inner label{
    font-size: 1.125rem;
    font-weight: 700;
  }

  .submit-btn{
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 500;
  }

  /* Footer */
  .footer{
    padding: 0rem 6.25rem 3.75rem;
    font-size: 0.875rem;
  }

  .footer-logo{
    height: 100%;
  }

  .footer .card{
    margin-top: 2.5rem;
  }

  .social-media-icon{
    background-color: rgb(255,255,255,0.1);
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    text-align: center;
    padding: 0;
    margin-right: 1rem;
  }

  .social-media-icon img{
    margin-top: 20%;
  }

  /* Fixed image */
  .fixed-image {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    height: 7rem;
  }

}

