body{
  width: 100%;
}

.menu-icon{
  width: 30px;
}

.home{
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.background-img{
  left: 50%;
  top: -8%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
}

.home-text{
  width: 45%;
  padding: 5%;
}

.features{
  margin: 1.5% 8%;
  text-align: center;
}

.features-header{
  padding: 2%;
}

.features-data{
  font-size: 3rem;
  padding: 10% 0;
}

.features-text{
  font-size: 1.5rem;
  font-weight: 600;
}