body{
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.menu-icon{
  width: 50px;
}

.nav-button{
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #569DAA;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #87CBB9;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.home{
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.background-img{
  left: 50%;
  top: -8%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.home-text{
  width: 45%;
  padding: 5%;
}

.title-text{
  font-family: 'Merriweather', serif;
  font-weight: 800;
  font-size: 3rem;
}

.tagline{
  color: #577D86;
}

.join-now{
  min-width: 55%;
  min-height: 60px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  background: linear-gradient(90deg, #577D86 0%, #569DAA 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 10px 10px 20px #87CBB9;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.join-now:hover, .join-now:focus {
  color: #313133;
  transform: translateY(-6px);
}

.features{
  margin: 1.5% 8%;
  text-align: center;
  box-shadow: 10px 10px 20px #87CBB9;
}

.features-head{
  background-color: whitesmoke;
}

.features-header{
  font-family: 'Merriweather', serif;
  padding: 2%;
}

.features-header span{
  text-transform: uppercase;
  color: #577D86;
}

.features-data{
  font-size: 3rem;
  padding: 10% 0;
  color: #264653;
  font-weight: 800;
}

.features-text{
  font-size: 1.5rem;
  font-weight: 600;
}

.define{
  background-color: #264653;
  height: 650px;
  position: relative;
  bottom: 200px;
  z-index: -2;
  padding-top: 250px;
  color: white;
  vertical-align: middle;
}

.vr{
  position: relative;
  bottom: 100px;
  width: 2px;
  height: 150%;
}

.define-text{
  position: relative;
  right: 10%;
  top: 120px;
  font-size: 3rem;
}

.define-list{
  position: relative;
  right: 10%;
  color: white;
  font-size: 1.5rem;
}

.contact{
  position: relative;;
}

.contact .hero-image {
  background-image: url("contact-background2.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 200px;
}

.contact .hero-text {
  text-align: center;
  position: absolute;
  width: 40%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.contact-form{
  background-color: rgb(38, 70, 83, 0.7);
}

.form-element{
  padding: 5px 0;
}

.form-element label{
  color: white;
  font-size: 1rem;
}

.form-submit{
  margin: 20px auto 0 auto;
  width: 100px;
}

.testimonials{
  position: relative;
  padding: 7% 10%;
  bottom: 200px;
}

.testimonials-head{
  text-align: center;
  margin-bottom: 50px;
}

.testimonials .middle{
  text-align: right;
}

.review{
  display: inline-block;
  width: 65%;
  padding: 5px;
  border-radius: 20px;
  background-color: #264653;
  color: white;
  font-size: 1.2em;
  line-height: 2;
}

.end{
  position: relative;
  height: 10px;
  width: 100%;
}

.footer{
  position: absolute;
  background-color: #264653;
  height: 200px;
  width: 100%;
  bottom: 0px;
}